{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <img src="images/baies.png" height="400" width="400" alt="">




    <div class="example-wrapper">

        <h1>Bienvenur sur le site de <p class="fw-bold">WorkToGether !</p></h1>
        <p class="mt-4">WorkTogether Data Solutions est une entreprise spécialisée dans la gestion de datacenters de pointe.
            Forte de son expertise en matière de sécurité, de fiabilité et de durabilité, WorkTogether offre une gamme complète
            de services de gestion de datacenters aux entreprises du monde entier.
        <p>Son objectif principal est de permettre à ses clients de se concentrer sur leur cœur de
            métier tout en garantissant la disponibilité, la performance et la sécurité de leurs infrastructures
            informatiques.</p>

        <p>WorkTogether Data Solutions souhaite élargir ses services en introduisant un nouveau service de
            location de baies. Cette offre permettra aux clients de louer de l'espace dans ses datacenters
            pour y héberger leurs équipements informatiques. En louant une baie, leurs clients
            bénéficieront de la connectivité ultrarapide, de la redondance électrique et de la sécurité
            physique et électronique de leurs installations.
        </p>




    </div>

{% endblock %}
