{% extends 'base.html.twig' %}

{% block title %}Hello RackController!{% endblock %}

{% block body %}
    <h1 class="text-center mt-3 fw-bold">Louer des baies</h1> <br>
    <div class="container mt-4">
        <div class="row justify-content-center">
            {% for rack in pagination %}

                <div class="card m-2 bg-light" style="width: 18rem;">
                    <div class="card-body">
                        <u><h1 class="card-title bold text-center">Baies n°{{ rack.id }}</h1></u>
                        <p class="fw-bold">Nombres de slots disponibles</p>
                        <p class="text-center fw-bold">{{ rack.numberSlot }}</p>
                        <div class="text-center">
                            <a href="/rack/{{ rack.id }}" class="btn btn-primary">Plus d'information</a>
                        </div>


                    </div>
                </div>

            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>


    </div>



{% endblock %}
